# Auto detect text files and perform LF normalization
* text=auto
large_files/* filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
/Users/aidanmurphy/Library/CloudStorage/OneDrive-Personal/GitHub/DIDA-425/large_files/425/[[:space:]]models/transformer/model.safetensors filter=lfs diff=lfs merge=lfs -text
